
  .app {
    height:600px;
    width: 350px; 
    background-color:lightgreen; 
    float: center; 
    padding:10px; 
    margin:20px;
  }
  input[type="button"] {
   background-color: pink;
  }